extends layout 

block content 
	form(action="/login", method="post")
		label email
		input(type="text", class="form-control" name="email")
		label password
		input(type="text", class="form-control" name="password")
		button(type="submit") login
		
	p Need an account?
	a(href="/signup") Sign Up Here
